<div class="min-h-screen grid grid-cols-app">
  <aside class="border-r bg-zinc-200 px-5 py-8">Sidebar</aside>
  <main class="px-4 pb-12 pt-8">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
